* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: Arial;
    width: 100%;
  }
  
  #navbar {
    background-color: #BE3144;
    position: fixed;
    color: #F1F5F9;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px; 
    box-sizing: border-box;
  }
  
  #navbar a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    padding: 20px;
    position: relative;
    top: 20px;
    
  }
  
  #welcome-section {
    background-color: #1E293B;
    height: 100vh;
    text-align: center;
    width: 100%;
  }
  
  #welcome-section h1 {
    color: white;
    font-size: 3.5rem;
    padding-top: 160px;
  }
  
  #welcome-section h2 {
    color: #BE3144;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 2px;
  }
  
  #project-section img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  #project-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
    gap: 20px;
    width: 100%;
  }
  
  .project-tile {
    width: 300px;
    height: 260px;
    background-color: #303841;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 8px black;
    overflow: hidden;
  }
  
  
  .project-tile a{
    display: block;
    padding-top: 15px; 
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  
  .project-tile a:hover::before { 
   content: "< ";
   color: #BE3144;
  }
  
  .project-tile a:hover::after { 
   content: " />";
   color: #BE3144;
  }
  
  
  #project-section {
    background-color: #45567D;
    color: #0F172A;
  }
  
  #contact, footer {
    background-color: #303841;
    color: #F8FAFC;
  }
  
  #contact {
    width: 100%;
    height: 300px;
  }
  
  
  #profile-link {
    color: white;
    text-decoration: none; 
    font-size: 1.3rem;
    padding: 10px;
    display: inline-block;
  }
  
  
  #profile-link:hover {
    transform: scale(1.1) translateY(5px);
    transition: transform 0.2s ease-in-out;
    color: #BE3144;
  }
  
  #contact nav {
    padding-top: 20px;
    margin: 0 30px; 
    display: flex;
  
  }
  
  .heading {
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
    padding-top: 60px;
  } 
  
  .sub-heading {
    text-align: center;
    font-style: italic;
    letter-spacing: 2px;
  }
  
  hr {
    color: #BE3144;
    border: 2px solid #BE3144;
  } 
  
  footer{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
  }
  
  footer p {
    padding-top: 50px; 
    font-weight: bold;
    text-align: center;
  }
  
  
  @media only screen and (max-width: 768px) {
    #contact {
    width: 100%;
    height: 100vh;
  }
    #contact nav {
      flex-direction: column;
      align-items: center;
    }
  
     footer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 100px;
      position: relative;
      height: auto;
      text-align: center;
    }
  
      footer p {
      padding: 2px 0;
      font-weight: bold;
      text-align: center;
    }
  }
  
  